// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

h1 {
  color: $red;
}

/* Container styles */
body {
  background-color: $light-gray;
  color: #333;
  font-family: 'Lato';
}

* {
  box-sizing: content-box;
}
