<h1>Front-end</h1>
<!-- HTML Chart -->
<figure class="chart" data-percent="100">
  <figcaption></figcaption>
   <img class="html" src="images/html5-logo.png">
  <svg width="200" height="200">
    <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
  </svg>
</figure>

<!-- CSS Chart -->
<figure class="chart" data-percent="75">
  <figcaption></figcaption>
  <img class="css" src="images/css3-logo.png">
  <svg width="200" height="200">
    <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
  </svg>
</figure>


<!-- Javascript Chart -->
<figure class="chart" data-percent="50">
  <figcaption></figcaption>
  <img class="javascript" src="images/js-logo.png">
  <svg width="200" height="200">
    <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
  </svg>
</figure>

<!-- Node.js Chart -->
<!-- <figure class="chart" data-percent="25">
  <figcaption>Node</figcaption>
  <img class="node" src="https://dl.dropboxusercontent.com/s/v28zws1p38tjph2/node.png">
  <svg width="200" height="200">
    <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
  </svg>
</figure> -->

<h1>Back-end</h1>
<!-- Ruby Chart -->
<figure class="chart" data-percent="75">
  <figcaption></figcaption>
  <img class="ruby" src="images/ruby-logo.png">
  <svg width="200" height="200">
    <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
  </svg>
</figure>

<!-- Rails Chart -->
<figure class="chart" data-percent="50">
  <figcaption></figcaption>
  <img class="rails" src="images/rails-logo.png">
  <svg width="200" height="200">
    <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
  </svg>
</figure>
