
<div class="wrapper background-gray text-center">
  <h1>Sherpanat</h1>
  <h2>Nathan Huberty</h2>
  <h3>Fullstack Developer</h3>
</div>

<div class="wrapper">
  <p>Me, myself & I
Environmental passionate
  </p>
</div>

<div class="wrapper background-gray">
  <h1>Technical skills</h1>
  <section class="container-skills">
    <h3>I'm a web developer and here's what I can do</h3>

    <%= partial 'shared/webskills' %>

    <p>Pure CSS and SVG animation</p>
  </section>
  <ul class="li-style-none">
    <li>
      <%= image_tag "photoshop.png", {class: "logo-skills"}%>
      <i class="fa fa-check" aria-hidden="true"></i>
      Adobe Photoshop
    </li>
    <li>
      <i class="fa fa-check" aria-hidden="true"></i>
      Adobe Photoshop Lightroom
    </li>
    <li>
      <i class="fa fa-check" aria-hidden="true"></i>
      Adobe Photoshop Indesign
    </li>
    <li>
      <i class="fa fa-check" aria-hidden="true"></i>
      Microsoft Office
    </li>
  </ul>
</div>

<div class="wrapper">
  My projects : cards with
  Ethictory, Clean my Footprint & Cuddle Family
</div>

<div class="background-gray">
  My passions : environment, photos, sports (roller and basketball)
  Here pulse buttons linked to photos
</div>

<div>
  links : flickr, 500px, github, twitter
</div>


<!-- <div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
      Middleman is now running!
    </p>
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
  </div>
</div> -->
