
<div class="wrapper background-gray text-center">
  <h1>Sherpanat</h1>
  <h2>Nathan Huberty</h2>
  <h3>Fullstack Developer</h3>
</div>

<div class="wrapper">
  <!-- onclick="javascript: this.classList.toggle('active');" -->
  <h2>Me</h2>
  Me, myself & I
Environmental passionate
</div>

<div class="wrapper background-gray">
  <h1>Technical skills</h1>
  <h3>I'm a web developer and here's what I can do</h3>
  <section class="container-skills">
    <%= partial 'shared/webskills' %>
  </section>
</div>

<div class="wrapper">
  <h1>My projects</h1>
  Ethictory, Clean my Footprint & Cuddle Family, ARCG
  Cards bigger with an explanation text
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="collapse slide">
          <div class="card ethictory">
            <!-- <div class="card-category">Popular</div> -->
            <div class="card-description">
              <h2>Ethictory</h2>
              <p>Guide de consommation éthique et responsable</p>
            </div>
            <div class="collapse-button"></div>
            <%= link_to "", "https://ethictory.co", class: "card-link", target: "_blank" %>
          </div>
          <div class="collapse-text">
            <p>Création d'un guide collaboratif de consommation éthique et responsable à
              destination des particuliers. Le site a été développé sous wordpress.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <!-- insert <div class="card"> -->
      </div>
      <div class="col-xs-12 col-sm-6">
        <!-- insert <div class="card"> -->
      </div>
      <div class="col-xs-12 col-sm-6">
        <!-- insert <div class="card"> -->
      </div>
    </div>
  </div>
</div>

<div class="background-gray">
  My passions : environment, photos, sports (roller and basketball)
  Here pulse buttons linked to photos
</div>

<div>
  links : flickr, 500px, github, twitter
</div>


<!-- <div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
      Middleman is now running!
    </p>
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
  </div>
</div> -->
